@model CraftShop.ViewModels.ShoppingCartViewModel
@{
    Layout = "_Layout";
}

<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Review your cart</h2>
                    <p class="button">@Html.ActionLink("Checkout>>", "AddressAndPayment", "Checkout")</p>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th scope="col">
                        Product Name
                    </th>
                    <th scope="col">
                        Price (each)
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.CartItems)
                {
                    <tr id="row-@item.RecordID">
                        <td>
                            @Html.ActionLink(item.Product.Name,"Details", "Store", new { id = item.ProductID}, null)
                        </td>
                        <td>
                            @String.Format("{0:0.00}",@item.Product.Price)
                        </td>
                        <td id="item-count-@item.RecordID">
                            @item.Count
                        </td>
                        <td>
                            <a href="#" class="RemoveLink" data-id="@item.RecordID">Remove from cart</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        Total
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td id="cart-total">
                        @Model.CartTotal
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                        location.reload(true);
                    });
            }
        });
    });
</script>