@using CraftShop.Models.db;
@model CraftShop.Models.db.Product;
@{
    Layout = "_Layout";

    int stock = Model.Stock;
}

<!-- Start Item Details -->
<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="~/@Model.Photo" alt="#" width="1000" height="667">
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <h2 class="title">@Model.Name</h2>
                        <p class="category">
                            <p><span>@Model.SubCategory.Category.Name</span>  -  <span>@Model.SubCategory.Specification</span></p>

                        </p>
                        <h3 class="price">@Model.Price TL</h3>
                        <p class="info-text">
                            @Model.Description
                        </p>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group quantity">
                                        <label for="color">Color:</label>
                                        <p class="form-control" name="Color">@Model.Color.Name</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="button cart-button">
                                        @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.ProductID }, new{@class="btn btn-primary pt-2",@style="width: 100%",@id="addToCart"})
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="warning">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>Shipping</h4>
                            <p>CraftShop offers Worldwide Tracked Shipping, this is our responsibility to get you all the lovely stationery products as soon as possible. However, the shipping time may vary from countries to countries. Below is a list of estimated shipping time based on Local Post Office and our shipping records. </p>
                            <h4>Tracked Standard Shipping:</h4>
                            <ul class="features">
                                <li>United States: 4-10 days</li>
                                <li>Australia, France, Spain, United Kingdom: 4-9 days</li>
                                <li>Austria, Belgium, Denmark, Germany, Ireland, Luxembourg: 7-10 days</li>
                                <li>Canada: 7-12 days</li>
                                <li>Italy, Netherlands, New Zealand, Norway, Poland, Portugual, Singapore, Sweden, Switzerland: 7-15 days</li>
                                <li>Argentina, Brazil, Chile, Mexico, Peru, Russia: 15-22 days</li>
                                <li>Other countries: 6-22 days</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>Process</h4>
                            <p>CraftShop guarantees delivery for all orders. If your order is not successfully delivered to you within 6 weeks, please send us an email at support@craftshop.com with your order number and we will issue a full refund.</p>
                            <p>The average processing time is approximately 12 hours. Processing time can also be affected by the stock of individual items, and the national holidays. Tracking numbers are provided by email after we ship out your package.</p>
                            <p>The item price is exclusive of any import duties, taxes and shipping charges. CraftShop has no control over the duty process and is unable to provide information about possible duties, charges or rates in advance.</p>
                            <h4>Contact Us</h4>
                            <a href="mailto:support@shopgrids.com">support@craftshop.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Item Details -->


<script type="text/javascript">
    $(function () {
        
       if(@stock == 0){
            $('#addToCart').removeAttr('href');
            $('#addToCart').css('background-color', 'gray')
            $("#warning").append(
                `<div class="container p-5">
                    <div class= "card mb-3">
                        <div class="card-body text-center">
                            <p style="color:black" > Product Unavailable! </p>
                        </div>
                    </div>
                </div>`
            );
        }
    });
</script>