@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";

    Layout = "_IdentityLayout";
}

<h2 class="auth-heading text-center mb-5" style="color:#15406a; font-family:cursive;">Log in</h2>
<div class="auth-form-container text-start">
    <form class="auth-form login-form" id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="email mb-3">
            <input asp-for="Input.Email" class="form-control signin-email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="sr-only">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div><!--//form-group-->
        <div class="password mb-3">
            <input asp-for="Input.Password" class="form-control signin-password" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password" class="sr-only">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div class="extra mt-3 row justify-content-between">
                <div class="col-6">
                    <div class="form-check">
                        <label asp-for="Input.RememberMe" class="form-check-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div><!--//col-6-->
                <div class="col-6">
                    <div class="forgot-password text-end">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </div>
                </div><!--//col-6-->
            </div><!--//extra-->
        </div><!--//form-group-->
        <div class="text-center">
            <button id="login-submit" type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto" style="background-color:#0d6efd;">Log In</button>
        </div>
    </form>

    <div class="auth-option text-center pt-5">No Account? Sign up <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-link" style="color:#0d6efd;">here</a>.</div>
    <div class="auth-option text-center pt-3"><a id="resend-confirmation" asp-page="./ResendEmailConfirmation" style="color:#0d6efd;">Resend email confirmation.</a></div>
    <div class="auth-option text-center pt-3"><a asp-action="Index" asp-controller="Home" style="color:#0d6efd;"><i class="fa-solid fa-house"></i> Return Home Without Login</a></div>
</div><!--//auth-form-container-->

@*<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

